@page "/"
@using Plugin.BLE.Abstractions.Contracts
@inject DFCDashboard.Services.CyclingDataService CyclingData
@implements IDisposable

<div class="start-screen">
    @if (!CyclingData.IsConnected)
    {
        <h1 class="game-title">DFC Dashboard</h1>
        <a href="/connect-trainer" class="btn start-button">
            <i class="bi bi-bluetooth me-2"></i>Start Training
        </a>
    }
    else
    {
        <h1 class="game-title">Training Active</h1>
        <div class="metric-display">
            <div class="metric-box">
                <div class="metric-value">@CyclingData.Power</div>
                <div class="metric-label">Watts</div>
            </div>
            <div class="metric-box">
                <div class="metric-value">@CyclingData.Cadence</div>
                <div class="metric-label">RPM</div>
            </div>
        </div>
        <a href="/connect-trainer" class="btn start-button mt-4">
            Change Device
        </a>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        CyclingData.PropertyChanged += OnDataChanged;
    }

    private async void OnDataChanged(object? sender, System.ComponentModel.PropertyChangedEventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        CyclingData.PropertyChanged -= OnDataChanged;
    }
}
